<!-- Team Section -->
    <section id="accepted_papers" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Accepted Papers</h2>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
            </div> 
        	    <div class="row">
        	    	<div class="col-lg-8 col-lg-offset-2 text-justify">
        	        	<p class="large text-muted">
                        <ol type="1">
         				<li><strong>ROSE: Robust Caches for Amazon Product Search</strong>: Chen Luo, Vihan Lakshman, Anshumali Shrivastava, Tianyu Cao, Sreyashi Nag, Rahul Goutam, Hanqing Lu, Yiwei Song and Bing Yin. 
                            <!-- [<a href="https://arxiv.org/abs/1806.03790" target="\_blank">Link</a>] -->
                        </li> </br>
				        <li><strong>ORDSIM: Ordinal Regression for E-Commerce QuerySimilarity Prediction</strong>: Md. Ahsanul Kabir, Mohammad Al Hasan, Aritra Mandal, Daniel Tunkelang and Zhe Wu. 
                            <!-- [<a href="https://arxiv.org/abs/1806.05004" target="\_blank">Link</a>] -->
                        </li> </br>
				        <li><strong>Embracing Structure in Data for Billion-Scale Semantic Product Search</strong>: Vihan Lakshman, Choon Hui Teo, Xiaowen Chu, Abhinandan Patni, Pooja Maknikar and Svn Vishwanathan. 
                            <!-- [<a href="https://arxiv.org/abs/1806.04735" target="\_blank">Link</a>] -->
                        </li> </br>
				        <li><strong>CatBERT: An Incrementally Trained Language Representation Model for E-Commerce Applications</strong>: Tejaswini Mallavarapu, Ying Xie and Simon Hughes. 
                            <!-- [<a href="https://arxiv.org/abs/1804.06905" target="\_blank">Link</a>] -->
                        </li> </br>
				        <li><strong>E-commerce Product Attribute Value Validation and Correction Based on Transformers</strong>: Le Yu, Haozheng Tian, Yun Zhu, Simon Hughes and Aleksandar Velkoski. 
                            <!-- [<a href="https://arxiv.org/abs/1806.08694" target="\_blank">Link</a>] -->
                        </li> </br>
                        </ol>
        			    </p>
        		</div>
    	    </div>
        </div>
    </section>
